<div class="row">
  <div class="col-xs-12">
    <h1>{{meetupItem.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-1">
    <span class="glyphicon glyphicon-time"></span>
  </div>
  <div class="col-xs-11">
    {{meetupItem.date}}, {{meetupItem.time}}
  </div>
</div>
<div class="row">
  <div class="col-xs-1">
    <span class="glyphicon glyphicon-map-marker"></span>
  </div>
  <div class="col-xs-11">
    {{meetupItem.shortLocation}}, {{meetupItem.fullLocation}}
  </div>
</div>
<div class="row">
  <div class="col-xs-1">
    <span class="glyphicon glyphicon-comment"></span>
  </div>
  <div class="col-xs-11">
    {{meetupItem.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-1">
    <span class="glyphicon glyphicon-camera"></span>
  </div>
  <div class="col-xs-11">
    <ngx-slick-carousel class="carousel"
                        #slickModal="slick-carousel"
                        [config]="slideConfig">
      <div ngxSlickItem *ngFor="let image of meetupItem.images" class="slide">
        <img src="{{imagePath+image.url}}" alt="{{image.title}}" width="100%">
      </div>
    </ngx-slick-carousel>
  </div>
</div>
<div class="row">
  <div class="col-xs-1">
    <span class="glyphicon glyphicon-user"></span>
  </div>
  <div class="col-xs-11">
    <div *ngFor="let speaker of meetupItem.speakers; let i = index">
      <app-speaker-item [speakerItem]="speaker" [employeeItem]="employeeArr[i]"></app-speaker-item>
    </div>
  </div>
</div>


