<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewEmployee()">New Employee</button>
  </div>
</div>
<hr>
<div class="col-md-12">
  <div *ngFor="let item of employeeList">
    <app-employee-item
            [employeeItem]="item"
            (activateEmployee)="onActivateEmployee(item.id)"
            (showModalForm)="onShowModalForm(item)"
    ></app-employee-item>
  </div>
</div>
<app-modal
    [title]="title"
    [description]="description"
    [actionButton]="actionButton"
    (disactivateEmployee)="onDisactivateEmployee()"
></app-modal>
