.btn-success, .btn-success:active {
  background-color: #13b3a4;
  border-color: #13b3a4;
  outline-style: none;
}

.list-group-item.active p.list-group-item-text {
  background-color: #B0C4DE!important;
  color: #fff!important;
}