input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.btn {
    margin-right: 10px;
    margin-bottom: 20px;
    &.btn-success {
        background-color: #13b3a4;
        border-color: #13b3a4;
        outline-style: none;
    }
    &.btn-danger {
        background-color: #adb5bd;
        border-color: #adb5bd;
    }
}

.glyphicon.glyphicon-ok {
    color: #13b3a4;
}

.choose-file-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .file-open {
        position:absolute;
        border: none;
        background-color: transparent;
        padding-right: 10px;
        outline: none;
    }
}
